.chat-container {
  height: 600px;
  width: 400px;
  background-color: #2e3b2f; 
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}
.chat-body {
  padding: 0 10px;
  height: 550px;
  overflow-y: scroll;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.message-container {
  max-width: 250px;
  width: fit-content;
  background-color: #4b5b48; 
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 7px;
  align-self: start;
}
.message-mine {
  align-self: end;
  background-color: #6b8e63;
}
.chat-footer {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  bottom: 0;
  height: 50px;
}
.message-image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px;
  margin-top: 5px;
}
input {
  background-color: #2e3b2f;
  color: #ffffff; 
  border: 1px solid #4b5b48; 
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}
input::placeholder {
  color: #ffffff; 
}